*{
    margin:0;
}
.individualBigDiv{
    position: absolute;
    top: 94px;
    width: 100%;
    height: 100%;
}

.individual-page-header{
    width:832px;
    height: 86px;
    margin: 24px auto 0 auto ;
}

.spots-name{
    width: 100%;
    height:30px;
    margin: 0 0 14px;
    color: #222222;
    font-size: 13px;
}

.star-img{
    width: 23px;
    height: 23px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}
.ozelP{
    text-decoration: underline;
}
.reviews-kindastuff{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.reviews-2{
    display: flex;
    align-items: center;
}

.edit-delete-spot-buttons{
    width:115px;
    display: flex;
    justify-content: space-between;
}

.spot-button-edit{
        border: none;
        width:50px;
        height: 30px;
        color: white;
        background-color: #4CAF50;
        font-weight: bold;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.spot-button-delete{
    background: rgb(245, 35, 35);
    border: none;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

/* .edit-delete-spot-buttons:last-child{
    background: white;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
} */

.greyclasscountrystatecity{
    text-decoration: underline;
    font-size: 14px;
    color: rgba(0,0,0, 0.3);
}

.reviews-kindastuff pre{
    display: block;
}
.reviews-kindastuff p{
    margin-top: 3px;
    color: #222222;
    font-weight: bold;
}

.individual-images{
    display:grid;
    height:auto;
    grid-template-columns: repeat(3, 272px);
    grid-template-rows: repeat(2, 272px);
    gap: 8px;
    width:832px;
    margin: 0 auto;
}


.bigImg{
    width:552px;
    height: 552px;
    grid-column: 0/3;
    grid-row: 0/3;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;

}
.smallImgs2{
    width:272px;
    height:272px;
    grid-column: 3/4;
    grid-row: 1/2;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

.smallImgs3{
    width:272px;
    height:272px;
    grid-column: 3/4;
    grid-row: 2/3;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}


.error-container{

    color: red;
    padding:10px  15px;
}

.error-container li{
    padding-bottom:5px;


}
