/* frontend/src/context/Modal.css */
#modalSignUp {
    position: absolute;
    top: 94px ;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
  }
  #modalLogIn {
    position: absolute;
    top: 0px ;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
  }
  #modalBecomeAHost {
    position: absolute;
    top: 500px ;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #modal-content {
    position: absolute;
    background-color:white;
    border-radius: 17px;
    padding: 24px;
    width: 500px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
