header.login{
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EBEBEB;
    color: #222;
    font-size: 17px;
    line-height: 20px;
    font-weight: 650;
    padding-bottom: 24px;
}

.h3-form{
    display: flex;
    flex-direction: column;
    gap:14px;
    justify-content: flex-end;
    top:0;
}



input.login{
    width: 486px;
    border-radius: 6px;
    height:40px;
    padding-left:10px;
    border: 1px solid rgba(149, 157, 165, 0.7);
}

button.login{
    border-radius: 6px;
    height:40px;
    color:white;
    border: 0px;
    display: block;
    width: 100%;
    min-width: 200px;
    background-size: 200% 200%;
    opacity: 1;
    font-size: 16px;
    transition: opacity 1.25s ease 0s;
    background-image: radial-gradient(circle at center center, #ff385c 0%, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
}

#altbar{
    margin-top: 18px;
    margin-bottom: 6px;
}
.dontHaveAnAccYet{
    color: #222;
    font-size: 13px;
    line-height: 16px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
}

#submitButtonInsideOfLogin{
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    line-height: inherit;
    color: #222;
    text-decoration: underline;
    border-radius: 4px;
    font-weight: 600;
    text-align: inherit;
    outline: none;
}

#cookieMonster{
    border:none;
    background-color: white;
    font-size: 20px;
}
